/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

/* Header */
 header {
    background: linear-gradient(to right, #141841, #001c81);
    color: white;
    padding: 30px 20px;
}

.presentationPage h1 {
    font-size: 50px;
    margin: 0;
}

.presentationPage p {
    font-size: 18px;
    margin-top: 5px;
}

/* Button */
.center-button {
    margin: 20px 0;
}

button {
    background: linear-gradient(to right, #006097, #073E59);
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: -10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: linear-gradient(to right, #0076bb, #073E59);
    transform: scale(1.05);
}

/* Cards Section */
.presentationPage .cards-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px auto;

    
}

/* Individual Card */
.presentationPage .card {
    background: rgb(255, 255, 255);
    border: 20px solid #0f1450;
    border-radius: 30px;
    width: 300px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    transition: transform 0.2s ease;
}

.presentationPage .card:hover{
    transform: translateY(-10px);
}

.presentationPage .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;    
}

h2 {
    margin-bottom: 10px;
}
